body, h1 {
	margin: 0 auto;
}
#gora {
	background-color: #40271A;
	color: white;
	font-family: Tahoma;
	text-align: center;
	height: 80px;
}

#lewo {
	background-color: #DBB29C;
	width: 40%;
	height: 700px;
	float: left;
}

#prawo {
	background-color: #FFE3D4;
	width: 60%;
	height: 700px;
	float: right;
}

#dol {
	background-color: #40271A;
	color: white;
	text-align: right;
}

table, td {
	border: 1px dashed brown;
}

table {
	width: 500px;
	margin: 10px;
	text-align: center;
}

img {
	padding: 30px;
}

ol {
	list-style-type: upper-roman;
}