#lewo {
	width: 40%;
	height: 600px;
	background-color: #ff8989;
	float: left;
}

#prawo {
	width: 60%;
	height: 600px;
	background-color: #7872D9;
	float:right;
}

#dol {
	background-color: black;
	color: white;
	font-size: 150%;
	text-align: right;
}

table, td {
	margin: 20px;
	padding: 30px;
	border: 2px solid brown;
	border-collapse: collapse;

}

button{
	padding: 10px;
	margin: 10px;
	border: 2px solid blue;
	background-color: cyan;
	font-size: 20px;
}

h1 {
	text-align: center;
}